{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

{% block extrascript %}
<script type="text/javascript">
  function CheckCountry(val){
    var element1=document.getElementById('id_state_div');
    var element2=document.getElementById('id_state_description_div');
    if(val=='India'){
      element1.style.display='block';
      element2.style.display='none';
    }
    else{
      element2.style.display='block';
      element1.style.display='none';
    }
  }

  function CheckCategory(val){
    var element=document.getElementById('id_category_other_div');
    if(val=='Other'){
      element.style.display='block';
    }
    else{
      element.style.display='none';
    }
  }

  function CheckUGDiscipline(val){
    var element=document.getElementById('id_ug_discipline_other_div');
    if(val=='Other'){
      element.style.display='block';
    }
    else{
      element.style.display='none';
    }
  }

  function CheckPGDiscipline(val){
    var element=document.getElementById('id_pg_discipline_other_div');
    if(val=='Other'){
      element.style.display='block';
    }
    else{
      element.style.display='none';
    }
  }

  function CheckResearchArea(val){
    var element=document.getElementById('id_research_area_other_div');
    if(val=='Other'){
      element.style.display='block';
    }
    else{
      element.style.display='none';
    }
  }

  function CheckTypeOfWork(val){
    var element=document.getElementById('id_type_of_work_other_div');
    if(val=='Other'){
      element.style.display='block';
    }
    else{
      element.style.display='none';
    }
  }

  function CheckQEDiscipline(val){
    var element=document.getElementById('id_qe_discipline_other_div');
    if(val=='Other'){
      element.style.display='block';
    }
    else{
      element.style.display='none';
    }
  }

  </script>
{% endblock %}

{% block body %}
<div class="container" style="background-color: #F2F3F4;">
  <h1>Application Form</h1>
  <hr>
  <form action="{% url 'phdfellows:application' %}" method = "POST">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    <div class="container"><div class="row">
      <div class="col-md-6">
        <div class="form-group"><label for="id_category">Category</label><select name="category" class="form-control" title="" id="id_category" onchange='CheckCategory(this.value);' style="max-width:50%;">
          <option value="">Select</option>
            {% for category in categorys %}
              <option value="{{category.category}}">{{category.category}}</option>
            {% endfor %}
          <option value="Other">Other</option>
          </select>
        </div>
        <div class="form-group" id='id_category_other_div' style='display:none;'>
          <label for="id_category_other">Specify Your Category</label><input type="text" name="category_other" class="form-control" id="id_category_other" value="" style="max-width: 50%;"/>
        </div>
  </div>

  <div class="col-md-6">
  <div class="form-group"><label for="id_date_of_birth">Date of Birth (DD-MM-YYYY)</label><input type="date" name="date_of_birth" class="form-control" placeholder="Date of birth" value="" id="id_date_of_birth" style="max-width: 50%;" ></div>
  </div>
</div></div>

<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><div class="form-check"><input type="checkbox" name="having_disability" class="form-check-input" id="id_having_disability" style="max-width: 50%;"><label class="form-check-label" for="id_having_disability">Differently Abled (PWD) </label></div></div>
  </div>
  <div class="col-md-5">
    <div class="form-group"><div class="form-check"><input type="checkbox" name="married" class="form-check-input" id="id_married"><label class="form-check-label" for="id_married">Married</label></div></div>
  </div>
</div></div>

<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_gender">Gender</label><select name="gender" class="form-control" title="" id="id_gender" style="max-width: 50%;">
      <option value="">Select</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option></select>
    </div>
  </div>
</div></div>
<hr>

<div class="container"><div class="row">
  <div class="col-md-12">
    <div class="form-group"><label for="id_address">Address</label><textarea name="address" cols="40" rows="10" class="form-control" placeholder="Address" id="id_address" style="max-width: 80%; max-height: 20%;"></textarea></div>
  </div>
</div></div>

<div class="container"><div class="row">
  <div class="col-md-6">
  <div class="form-group"><label for="id_country">Country</label><select name="country" class="form-control" id="id_country" onchange='CheckCountry(this.value);' style="max-width:50%;">
    <option value="">Select</option>
    {% for country in countrys %}
      <option value="{{country.country}}">{{country.country}}</option>
    {% endfor %}
   </select>
  </div>
  </div>
  <div class="col-md-6">
    <div class="form-group" id='id_state_description_div'>
      <label for="id_state_description">State</label><input type="text" name="state_description" class="form-control" id="id_state_description" value="" style="max-width: 50%;"/>
    </div>
    <div id="id_state_div" style='display:none;'>
      <div class="form-group"><label for="id_state">State</label><select name="state" class="form-control" id="id_state" style="max-width:50%;">
        <option value="">Select</option>
        {% for state in states %}
          <option value="{{state.state}}">{{state.state}}</option>
        {% endfor %}
        <option value="Other">Other</option>
        </select>
      </div>
    </div>


  </div>
  </div></div>


<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_city">City</label><input type="text" name="city" maxlength="50" class="form-control" placeholder="City" value="" id="id_city" style="max-width: 50%;"></div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_pin_code">Pin Code</label><input type="text" name="pin_code" maxlength="6" class="form-control" placeholder="Pin code" value="" id="id_pin_code" style="max-width: 50%;"></div>
  </div>
</div></div>
<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_phone_no">Phone Number(With Country Code)</label><input type="text" name="phone_no" maxlength="13" class="form-control" placeholder="Phone Number(With Country Code)" value="" id="id_phone_no" style="max-width: 50%;"></div>
  </div>
</div></div>
<hr>

<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_research_area">Research Area</label><select name="research_area" class="form-control" onchange='CheckResearchArea(this.value);' id="id_research_area" style="max-width:50%;">
      <option value="">Select</option>
      {% for research_area in research_areas %}
        <option value="{{research_area.research_area}}">{{research_area.research_area}}</option>
      {% endfor %}
      <option value="Other">Other</option>
      </select>
    </div>
    <div class="form-group" id='id_research_area_other_div' style='display:none;'>
      <label for="id_research_area_other">Specify Your Research Area</label><input type="text" name="research_area_other" class="form-control" id="id_research_area_other" value="" style="max-width: 50%;"/>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_applying_for">Applying For</label><select name="applying_for" class="form-control" title="" id="id_applying_for" style="max-width: 50%;">
      <option value="">Select</option>
      <option value="PhD">PhD</option>
      <option value="MS">MS</option></select>
    </div>
  </div>
</div></div>
<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_enrollment_type">Enrollment Type</label><select name="enrollment_type" class="form-control" title="" id="id_enrollment_type" style="max-width: 50%;">
      <option value="">Select</option>
      <option value="Full time">Full time</option>
      <option value="Part time">Part time</option></select>
    </div>
  </div>
</div></div>
<hr>

<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_score_in_ug">Score in UG</label><input type="number" name="score_in_ug" step="any" class="form-control" placeholder="Score in UG" value="" id="id_score_in_ug" style="max-width: 50%;"></div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_scale_of_score_ug">Scale of Score (UG)</label><select name="scale_of_score_ug" class="form-control" title="" id="id_scale_of_score_ug" style="max-width: 50%;">
      <option value="">Select</option>
      <option value="0-5 CGPA">0-5 CGPA</option>
      <option value="0-10 CGPA">0-10 CGPA</option>
      <option value="0-100%">0-100%</option></select>
    </div>
  </div>
</div></div>
<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_ug_discipline">UG Discipline</label><select name="ug_discipline" class="form-control" onchange='CheckUGDiscipline(this.value);' id="id_ug_discipline" style="max-width: 50%;">
      <option value="">Select</option>
      {% for ug_discipline in ug_disciplines %}
        <option value="{{ug_discipline.ug_discipline}}">{{ug_discipline.ug_discipline}}</option>
      {% endfor %}
      <option value="Other">Other</option>
      </select>
    </div>
    <div class="form-group" id='id_ug_discipline_other_div' style='display:none;'>
      <label for="id_ug_discipline_other">Specify Your UG Discipline</label><input type="text" name="ug_discipline_other" class="form-control" id="id_ug_discipline_other" value="" style="max-width: 50%;"/>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_ug_college_or_university">UG College/University</label><input type="text" name="ug_college_or_university" maxlength="200" class="form-control" placeholder="UG College/University" value="" id="id_ug_college_or_university" style="max-width: 50%;"></div>
  </div>
</div></div>
<hr>

<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_score_in_pg">Score in PG</label><input type="number" name="score_in_pg" step="any" class="form-control" placeholder="Score in PG" value="" id="id_score_in_pg" style="max-width: 50%;"></div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_scale_of_score_pg">Scale of Score (PG)</label><select name="scale_of_score_pg" class="form-control" title="" id="id_scale_of_score_pg" style="max-width: 50%;">
      <option value="">Select</option>
      <option value="0-5 CGPA">0-5 CGPA</option>
      <option value="0-10 CGPA">0-10 CGPA</option>
      <option value="0-100%">0-100%</option></select>
    </div>
  </div>
</div></div>
<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_pg_discipline">PG Discipline</label><select name="pg_discipline" class="form-control" onchange='CheckPGDiscipline(this.value);' id="id_pg_discipline" style="max-width: 50%;">
      <option value="">Select</option>
      {% for pg_discipline in pg_disciplines %}
        <option value="{{pg_discipline.pg_discipline}}">{{pg_discipline.pg_discipline}}</option>
      {% endfor %}
      <option value="Other">Other</option>
      </select>
    </div>
    <div class="form-group" id='id_pg_discipline_other_div' style='display:none;'>
      <label for="id_pg_discipline_other">Specify Your PG Discipline</label><input type="text" name="pg_discipline_other" class="form-control" id="id_pg_discipline_other" value="" style="max-width: 50%;"/>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_pg_passed_or_expected_to_pass_in_year">PG Passed Year or Expected to Pass in Year</label><input type="number" name="pg_passed_or_expected_to_pass_in_year" class="form-control" placeholder="PG Passed Year or Expected to Pass in Year" value="" id="id_pg_passed_or_expected_to_pass_in_year" style="max-width: 50%;"></div>
  </div>
</div></div>
<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_pg_college_or_university">PG College/University</label><input type="text" name="pg_college_or_university" maxlength="200" class="form-control" placeholder="PG College/University" value="" id="id_pg_college_or_university" style="max-width: 50%;"></div>
  </div>
</div></div>
<hr>

<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_qualifying_examination">Qualifying Examination</label><select name="qualifying_examination" class="form-control" title="" id="id_qualifying_examination" style="max-width: 50%;">
      <option value="">Select</option>
      <option value="GATE">GATE</option>
      <option value="NET">NET</option></select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_branch_code_for_qualifying_exam">Branch Code for Qualifying Exam</label><select name="branch_code_for_qualifying_exam" class="form-control" onchange='CheckQEDiscipline(this.value);' id="id_branch_code_for_qualifying_exam" style="max-width: 50%;">
      <option value="">Select</option>
      {% for branch in branch_qualifying_exam %}
        <option value="{{branch.branch}}">{{branch.branch}}</option>
      {% endfor %}
      <option value="Other">Other</option>
      </select>
    </div>
    <div class="form-group" id='id_qe_discipline_other_div' style='display:none;'>
      <label for="id_qe_discipline_other">Specify Your Branch Code</label><input type="text" name="qe_discipline_other" class="form-control" id="id_qe_discipline_other" value="" style="max-width: 50%;"/>
    </div>
  </div>
</div></div>
<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_qualifying_exam_score_valid_upto">Qualifying Exam Score Valid Upto (Year)</label><input type="number" name="qualifying_exam_score_valid_upto" class="form-control" placeholder="Qualifying exam score valid upto" value="" id="id_qualifying_exam_score_valid_upto" style="max-width: 50%;"></div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_all_india_rank_in_qualifying_exam">All India Rank in Qualifying Exam</label><input type="number" name="all_india_rank_in_qualifying_exam" class="form-control" placeholder="All India rank in Qualifying Exam" value="" id="id_all_india_rank_in_qualifying_exam" style="max-width: 50%;"></div>
  </div>
</div></div>
<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_score_in_qualifying_exam">Score in Qualifying Exam</label><input type="number" name="score_in_qualifying_exam" step="any" class="form-control" placeholder="Score in qualifying exam" value="" id="id_score_in_qualifying_exam" style="max-width: 50%;"></div>
  </div>
</div></div>
<hr>

<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_work_experience_in_year">Work Experpience in Year(s)</label><input type="number" name="work_experience_in_year" maxlength="3" class="form-control" placeholder="Work Experpience(in years)" value="" id="id_work_experience_in_year" style="max-width: 50%;"></div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_type_of_work">Type of Work</label><select name="type_of_work" class="form-control" onchange='CheckTypeOfWork(this.value);' id="id_type_of_work" style="max-width: 50%;">
      <option value="">Select</option>
      {% for type_of_work in type_of_works %}
        <option value="{{type_of_work.type_of_work}}">{{type_of_work.type_of_work}}</option>
      {% endfor %}
      <option value="Other">Other</option>
      </select>
    </div>
    <div class="form-group" id='id_type_of_work_other_div' style='display:none;'>
      <label for="id_type_of_work_other">Specify Your Type of Work</label><input type="text" name="type_of_work_other" class="form-control" id="id_type_of_work_other" value="" style="max-width: 50%;"/>
    </div>
  </div>
  </div>
</div></div>
<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_no_of_peer_reviewed_publications">No of Peer Reviewed Publication(s)</label><input type="number" name="no_of_peer_reviewed_publications" class="form-control" placeholder="No of peer reviewed publications" value="" id="id_no_of_peer_reviewed_publications" style="max-width: 50%;"></div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_no_of_patents_granted">No of Patent(s) Granted</label><input type="number" name="no_of_patents_granted" class="form-control" placeholder="No of patents granted" value="" id="id_no_of_patents_granted" style="max-width: 50%;"></div>
  </div>
</div></div>
<hr>

<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_guide_preference_1">Guide Preference 1</label><input type="text" name="guide_preference_1" maxlength="200" class="form-control" placeholder="Guide preference 1" value="" id="id_guide_preference_1" style="max-width: 50%;"></div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_guide_preference_2">Guide Preference 2</label><input type="text" name="guide_preference_2" maxlength="200" class="form-control" placeholder="Guide preference 2" value="" id="id_guide_preference_2" style="max-width: 50%;"></div>
  </div>
</div></div>
<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_guide_preference_3">Guide Preference 3</label><input type="text" name="guide_preference_3" maxlength="200" class="form-control" placeholder="Guide preference 3" value="" id="id_guide_preference_3" style="max-width: 50%;"></div>
  </div>
</div></div>
<hr>

<div class="container"><div class="row">
  <div class="col-md-6">
    <input type="submit" name='save_as_draft' class="btn btn-primary" value="Save as Draft">
  </div>
  <div class="col-md-6">
    <input type="submit" name='submit_application' class="btn btn-primary" value="Submit">
  </div>
</div></div>
  </form>
</div>

{% endblock %}
