{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

{% block extrascript %}
<script type="text/javascript">
  function CheckColors(val){
  var element1=document.getElementById('id_state_div');
  var element2=document.getElementById('id_state_description_div');
  if(val=='India'){
    element1.style.display='block';
    element2.style.display='none';
  }
  else{
    element2.style.display='block';
    element1.style.display='none';
  }
}

  </script>
{% endblock %}

{% block body %}
<div class="container" style="background-color: #F2F3F4;">
  <h1>Application Form</h1>
  <hr>
  <form action="{% url 'phdfellows:application' %}" method = "POST">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    <div class="container"><div class="row">
      <div class="col-md-6">
    <div class="form-group"><label for="id_category">Category</label><select name="category" class="form-control" title="" id="id_category" style="max-width:50%;">
      <option value="">Select</option>
      <option value="SC">SC</option>
      <option value="OBC">OBC</option>
      <option value="ST">ST</option>
      <option value="EWS">EWS</option>
      <option value="General">General</option></select>
    </div>
  </div>

  <div class="col-md-6">
  <div class="form-group"><label for="id_date_of_birth">Date of Birth (DD-MM-YYYY)</label><input type="date" name="date_of_birth" class="form-control" placeholder="Date of birth" value="" id="id_date_of_birth" style="max-width: 50%;" ></div>
  </div>
</div></div>

<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><div class="form-check"><input type="checkbox" name="having_disability" class="form-check-input" id="id_having_disability" style="max-width: 50%;"><label class="form-check-label" for="id_having_disability">Differently Abled (PWD) </label></div></div>
  </div>
  <div class="col-md-5">
    <div class="form-group"><div class="form-check"><input type="checkbox" name="married" class="form-check-input" id="id_married"><label class="form-check-label" for="id_married">Married</label></div></div>
  </div>
</div></div>

<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_gender">Gender</label><select name="gender" class="form-control" title="" id="id_gender" style="max-width: 50%;">
      <option value="">Select</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option></select>
    </div>
  </div>
</div></div>
<hr>

<div class="container"><div class="row">
  <div class="col-md-12">
    <div class="form-group"><label for="id_address">Address</label><textarea name="address" cols="40" rows="10" class="form-control" placeholder="Address" id="id_address" style="max-width: 80%; max-height: 20%;"></textarea></div>
  </div>
</div></div>

<div class="container"><div class="row">
  <div class="col-md-6">
  <div class="form-group"><label for="id_country">Country</label><select name="country" class="form-control" id="id_country" onchange='CheckColors(this.value);' style="max-width:50%;">
    <option value="">Select</option>
    <option value="India">India</option>
    <option value="Nepal">Nepal</option>
    <option value="Sri Lanka">Sri Lanka</option>
    <option value="Afghanistan">Afghanistan</option>
    <option value="Bhutan">Bhutan</option>
    <option value="Bangladesh">Bangladesh</option>
    <option value="China">China</option>
    <option value="Myanmar">Myanmar</option>
    <option value="Pakistan">Pakistan</option>
    <option value="Mauritius">Mauritius</option>
    <option value="Åland Islands">Åland Islands</option>
    <option value="Albania">Albania</option>
    <option value="Algeria">Algeria</option>
     <option value="American Samoa">American Samoa</option>
     <option value="Andorra">Andorra</option>
     <option value="Angola">Angola</option>
     <option value="Anguilla">Anguilla</option>
     <option value="Antarctica">Antarctica</option>
     <option value="Antigua and Barbuda">Antigua and Barbuda</option>
     <option value="Argentina">Argentina</option>
     <option value="Armenia">Armenia</option>
     <option value="Aruba">Aruba</option>
     <option value="Australia">Australia</option>
     <option value="Austria">Austria</option>
     <option value="Azerbaijan">Azerbaijan</option>
     <option value="Bahamas">Bahamas</option>
     <option value="Bahrain">Bahrain</option>
     <option value="Barbados">Barbados</option>
     <option value="Belarus">Belarus</option>
     <option value="Belgium">Belgium</option>
     <option value="Belize">Belize</option>
     <option value="Benin">Benin</option>
     <option value="Bermuda">Bermuda</option>
     <option value="Bolivia">Bolivia</option>
     <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
     <option value="Botswana">Botswana</option>
     <option value="Bouvet Island">Bouvet Island</option>
     <option value="Brazil">Brazil</option>
     <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
     <option value="Brunei Darussalam">Brunei Darussalam</option>
     <option value="Bulgaria">Bulgaria</option>
     <option value="Burkina Faso">Burkina Faso</option>
     <option value="Burundi">Burundi</option>
     <option value="Cambodia">Cambodia</option>
     <option value="Cameroon">Cameroon</option>
     <option value="Canada">Canada</option>
     <option value="Cape Verde">Cape Verde</option>
     <option value="Cayman Islands">Cayman Islands</option>
     <option value="Central African Republic">Central African Republic</option>
     <option value="Chad">Chad</option>
     <option value="Chile">Chile</option>
     <option value="Christmas Island">Christmas Island</option>
     <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
     <option value="Colombia">Colombia</option>
     <option value="Comoros">Comoros</option>
     <option value="Congo">Congo</option>
     <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
     <option value="Cook Islands">Cook Islands</option>
     <option value="Costa Rica">Costa Rica</option>
     <option value="Cote D'ivoire">Cote D'ivoire</option>
     <option value="Croatia">Croatia</option>
     <option value="Cuba">Cuba</option>
     <option value="Cyprus">Cyprus</option>
     <option value="Czech Republic">Czech Republic</option>
     <option value="Denmark">Denmark</option>
     <option value="Djibouti">Djibouti</option>
     <option value="Dominica">Dominica</option>
     <option value="Dominican Republic">Dominican Republic</option>
     <option value="Ecuador">Ecuador</option>
     <option value="Egypt">Egypt</option>
     <option value="El Salvador">El Salvador</option>
     <option value="Equatorial Guinea">Equatorial Guinea</option>
     <option value="Eritrea">Eritrea</option>
     <option value="Estonia">Estonia</option>
     <option value="Ethiopia">Ethiopia</option>
     <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
     <option value="Faroe Islands">Faroe Islands</option>
     <option value="Fiji">Fiji</option>
     <option value="Finland">Finland</option>
     <option value="France">France</option>
     <option value="French Guiana">French Guiana</option>
     <option value="French Polynesia">French Polynesia</option>
     <option value="French Southern Territories">French Southern Territories</option>
     <option value="Gabon">Gabon</option>
     <option value="Gambia">Gambia</option>
     <option value="Georgia">Georgia</option>
     <option value="Germany">Germany</option>
     <option value="Ghana">Ghana</option>
     <option value="Gibraltar">Gibraltar</option>
     <option value="Greece">Greece</option>
     <option value="Greenland">Greenland</option>
     <option value="Grenada">Grenada</option>
     <option value="Guadeloupe">Guadeloupe</option>
     <option value="Guam">Guam</option>
     <option value="Guatemala">Guatemala</option>
     <option value="Guernsey">Guernsey</option>
     <option value="Guinea">Guinea</option>
     <option value="Guinea-bissau">Guinea-bissau</option>
     <option value="Guyana">Guyana</option>
     <option value="Haiti">Haiti</option>
     <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
     <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
     <option value="Honduras">Honduras</option>
     <option value="Hong Kong">Hong Kong</option>
     <option value="Hungary">Hungary</option>
     <option value="Iceland">Iceland</option>
     <option value="Indonesia">Indonesia</option>
     <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
     <option value="Iraq">Iraq</option>
     <option value="Ireland">Ireland</option>
     <option value="Isle of Man">Isle of Man</option>
     <option value="Israel">Israel</option>
     <option value="Italy">Italy</option>
     <option value="Jamaica">Jamaica</option>
     <option value="Japan">Japan</option>
     <option value="Jersey">Jersey</option>
     <option value="Jordan">Jordan</option>
     <option value="Kazakhstan">Kazakhstan</option>
     <option value="Kenya">Kenya</option>
     <option value="Kiribati">Kiribati</option>
     <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
     <option value="Korea, Republic of">Korea, Republic of</option>
     <option value="Kuwait">Kuwait</option>
     <option value="Kyrgyzstan">Kyrgyzstan</option>
     <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
     <option value="Latvia">Latvia</option>
     <option value="Lebanon">Lebanon</option>
     <option value="Lesotho">Lesotho</option>
     <option value="Liberia">Liberia</option>
     <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
     <option value="Liechtenstein">Liechtenstein</option>
     <option value="Lithuania">Lithuania</option>
     <option value="Luxembourg">Luxembourg</option>
     <option value="Macao">Macao</option>
     <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
     <option value="Madagascar">Madagascar</option>
     <option value="Malawi">Malawi</option>
     <option value="Malaysia">Malaysia</option>
     <option value="Maldives">Maldives</option>
     <option value="Mali">Mali</option>
     <option value="Malta">Malta</option>
     <option value="Marshall Islands">Marshall Islands</option>
     <option value="Martinique">Martinique</option>
     <option value="Mauritania">Mauritania</option>
     <option value="Mayotte">Mayotte</option>
     <option value="Mexico">Mexico</option>
     <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
     <option value="Moldova, Republic of">Moldova, Republic of</option>
     <option value="Monaco">Monaco</option>
     <option value="Mongolia">Mongolia</option>
     <option value="Montenegro">Montenegro</option>
     <option value="Montserrat">Montserrat</option>
     <option value="Morocco">Morocco</option>
     <option value="Mozambique">Mozambique</option>
     <option value="Namibia">Namibia</option>
     <option value="Nauru">Nauru</option>
     <option value="Netherlands">Netherlands</option>
     <option value="Netherlands Antilles">Netherlands Antilles</option>
     <option value="New Caledonia">New Caledonia</option>
     <option value="New Zealand">New Zealand</option>
     <option value="Nicaragua">Nicaragua</option>
     <option value="Niger">Niger</option>
     <option value="Nigeria">Nigeria</option>
     <option value="Niue">Niue</option>
     <option value="Norfolk Island">Norfolk Island</option>
     <option value="Northern Mariana Islands">Northern Mariana Islands</option>
     <option value="Norway">Norway</option>
     <option value="Oman">Oman</option>
     <option value="Palau">Palau</option>
     <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
     <option value="Panama">Panama</option>
     <option value="Papua New Guinea">Papua New Guinea</option>
     <option value="Paraguay">Paraguay</option>
     <option value="Peru">Peru</option>
     <option value="Philippines">Philippines</option>
     <option value="Pitcairn">Pitcairn</option>
     <option value="Poland">Poland</option>
     <option value="Portugal">Portugal</option>
     <option value="Puerto Rico">Puerto Rico</option>
     <option value="Qatar">Qatar</option>
     <option value="Reunion">Reunion</option>
     <option value="Romania">Romania</option>
     <option value="Russian Federation">Russian Federation</option>
     <option value="Rwanda">Rwanda</option>
     <option value="Saint Helena">Saint Helena</option>
     <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
     <option value="Saint Lucia">Saint Lucia</option>
     <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
     <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
     <option value="Samoa">Samoa</option>
     <option value="San Marino">San Marino</option>
     <option value="Sao Tome and Principe">Sao Tome and Principe</option>
     <option value="Saudi Arabia">Saudi Arabia</option>
     <option value="Senegal">Senegal</option>
     <option value="Serbia">Serbia</option>
     <option value="Seychelles">Seychelles</option>
     <option value="Sierra Leone">Sierra Leone</option>
     <option value="Singapore">Singapore</option>
     <option value="Slovakia">Slovakia</option>
     <option value="Slovenia">Slovenia</option>
     <option value="Solomon Islands">Solomon Islands</option>
     <option value="Somalia">Somalia</option>
     <option value="South Africa">South Africa</option>
     <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
     <option value="Spain">Spain</option>
     <option value="Sudan">Sudan</option>
     <option value="Suriname">Suriname</option>
     <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
     <option value="Swaziland">Swaziland</option>
     <option value="Sweden">Sweden</option>
     <option value="Switzerland">Switzerland</option>
     <option value="Syrian Arab Republic">Syrian Arab Republic</option>
     <option value="Taiwan, Province of China">Taiwan, Province of China</option>
     <option value="Tajikistan">Tajikistan</option>
     <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
     <option value="Thailand">Thailand</option>
     <option value="Timor-leste">Timor-leste</option>
     <option value="Togo">Togo</option>
     <option value="Tokelau">Tokelau</option>
     <option value="Tonga">Tonga</option>
     <option value="Trinidad and Tobago">Trinidad and Tobago</option>
     <option value="Tunisia">Tunisia</option>
     <option value="Turkey">Turkey</option>
     <option value="Turkmenistan">Turkmenistan</option>
     <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
     <option value="Tuvalu">Tuvalu</option>
     <option value="Uganda">Uganda</option>
     <option value="Ukraine">Ukraine</option>
     <option value="United Arab Emirates">United Arab Emirates</option>
     <option value="United Kingdom">United Kingdom</option>
     <option value="United States">United States</option>
     <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
     <option value="Uruguay">Uruguay</option>
     <option value="Uzbekistan">Uzbekistan</option>
     <option value="Vanuatu">Vanuatu</option>
     <option value="Venezuela">Venezuela</option>
     <option value="Viet Nam">Viet Nam</option>
     <option value="Virgin Islands, British">Virgin Islands, British</option>
     <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
     <option value="Wallis and Futuna">Wallis and Futuna</option>
     <option value="Western Sahara">Western Sahara</option>
     <option value="Yemen">Yemen</option>
     <option value="Zambia">Zambia</option>
     <option value="Zimbabwe">Zimbabwe</option></select>
  </div>
  </div>
  <div class="col-md-6">
    <div class="form-group" id='id_state_description_div'>
      <label for="id_state_description">State</label><input type="text" name="state_description" class="form-control" id="id_state_description" value="" style="max-width: 50%;"/>
    </div>
    <div id="id_state_div" style='display:none;'>
      <div class="form-group"><label for="id_state">State</label><select name="state" class="form-control" id="id_state" style="max-width:50%;">
        <option value="">Select</option>
        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
        <option value="Andhra Pradesh">Andhra Pradesh</option>
        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
        <option value="Assam">Assam</option>
        <option value="Bihar">Bihar</option>
        <option value="Chandigarh">Chandigarh</option>
        <option value="Chhattisgarh">Chhattisgarh</option>
        <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
        <option value="Daman and Diu">Daman and Diu</option>
        <option value="Delhi">Delhi</option>
        <option value="Goa">Goa</option>
        <option value="Gujarat">Gujarat</option>
        <option value="Haryana">Haryana</option>
        <option value="Himachal Pradesh">Himachal Pradesh</option>
        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
        <option value="Jharkhand">Jharkhand</option>
        <option value="Karnataka">Karnataka</option>
        <option value="Kerala">Kerala</option>
        <option value="Lakshadweep">Lakshadweep</option>
        <option value="Madhya Pradesh">Madhya Pradesh</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Manipur">Manipur</option>
        <option value="Meghalaya">Meghalaya</option>
        <option value="Mizoram">Mizoram</option>
        <option value="Nagaland">Nagaland</option>
        <option value="Orissa">Orissa</option>
        <option value="Pondicherry">Pondicherry</option>
        <option value="Punjab">Punjab</option>
        <option value="Rajasthan">Rajasthan</option>
        <option value="Sikkim">Sikkim</option>
        <option value="Tamil Nadu">Tamil Nadu</option>
        <option value="Telangana">Telangana</option>
        <option value="Tripura">Tripura</option>
        <option value="Uttrakhand">Uttrakhand</option>
        <option value="Uttar Pradesh">Uttar Pradesh</option>
        <option value="West Bengal">West Bengal</option></select>
      </div>
    </div>


  </div>
  </div></div>


<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_city">City</label><input type="text" name="city" maxlength="50" class="form-control" placeholder="City" value="" id="id_city" style="max-width: 50%;"></div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_pin_code">Pin Code</label><input type="text" name="pin_code" maxlength="6" class="form-control" placeholder="Pin code" value="" id="id_pin_code" style="max-width: 50%;"></div>
  </div>
</div></div>
<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_phone_no">Phone Number(With Country Code)</label><input type="text" name="phone_no" maxlength="13" class="form-control" placeholder="Phone Number(With Country Code)" value="" id="id_phone_no" style="max-width: 50%;"></div>
  </div>
</div></div>
<hr>

<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_research_area">Research Area</label><select name="research_area" class="form-control" title="" id="id_research_area" style="max-width:50%;">
    <option value="">Select</option>
    <option value="Machine Learning">Machine Learning</option>
    <option value="Cloud Computing">Cloud Computing</option>
    <option value="Airtifial Intelligence">Airtifial Intelligence</option>
    <option value="Software Development">Software Development</option>
    <option value="Cryptography">Cryptography</option></select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_applying_for">Applying For</label><select name="applying_for" class="form-control" title="" id="id_applying_for" style="max-width: 50%;">
      <option value="">Select</option>
      <option value="PhD">PhD</option>
      <option value="MS">MS</option></select>
    </div>
  </div>
</div></div>
<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_enrollment_type">Enrollment Type</label><select name="enrollment_type" class="form-control" title="" id="id_enrollment_type" style="max-width: 50%;">
      <option value="">Select</option>
      <option value="Full time">Full time</option>
      <option value="Part time">Part time</option></select>
    </div>
  </div>
</div></div>
<hr>

<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_score_in_ug">Score in UG</label><input type="number" name="score_in_ug" step="any" class="form-control" placeholder="Score in UG" value="" id="id_score_in_ug" style="max-width: 50%;"></div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_scale_of_score_ug">Scale of Score (UG)</label><select name="scale_of_score_ug" class="form-control" title="" id="id_scale_of_score_ug" style="max-width: 50%;">
      <option value="">Select</option>
      <option value="0-5 CGPA">0-5 CGPA</option>
      <option value="0-10 CGPA">0-10 CGPA</option>
      <option value="0-100%">0-100%</option></select>
    </div>
  </div>
</div></div>
<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_ug_discipline">UG Discipline</label><select name="ug_discipline" class="form-control" title="" id="id_ug_discipline" style="max-width: 50%;">
      <option value="">Select</option>
      <option value="CSE">CSE</option>
      <option value="EE">EE</option>
      <option value="ME">ME</option>
      <option value="ECE">ECE</option>
      <option value="CE">CE</option></select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_ug_college_or_university">UG College/University</label><input type="text" name="ug_college_or_university" maxlength="200" class="form-control" placeholder="UG College/University" value="" id="id_ug_college_or_university" style="max-width: 50%;"></div>
  </div>
</div></div>
<hr>

<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_score_in_pg">Score in PG</label><input type="number" name="score_in_pg" step="any" class="form-control" placeholder="Score in PG" value="" id="id_score_in_pg" style="max-width: 50%;"></div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_scale_of_score_pg">Scale of Score (PG)</label><select name="scale_of_score_pg" class="form-control" title="" id="id_scale_of_score_pg" style="max-width: 50%;">
      <option value="">Select</option>
      <option value="0-5 CGPA">0-5 CGPA</option>
      <option value="0-10 CGPA">0-10 CGPA</option>
      <option value="0-100%">0-100%</option></select>
    </div>
  </div>
</div></div>
<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_pg_discipline">PG Discipline</label><select name="pg_discipline" class="form-control" title="" id="id_pg_discipline" style="max-width: 50%;">
      <option value="">Select</option>
      <option value="CSE">CSE</option>
      <option value="EE">EE</option>
      <option value="ME">ME</option>
      <option value="ECE">ECE</option>
      <option value="CE">CE</option></select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_pg_passed_or_expected_to_pass_in_year">PG Passed Year or Expected to Pass in Year</label><input type="number" name="pg_passed_or_expected_to_pass_in_year" class="form-control" placeholder="PG Passed Year or Expected to Pass in Year" value="" id="id_pg_passed_or_expected_to_pass_in_year" style="max-width: 50%;"></div>
  </div>
</div></div>
<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_pg_college_or_university">PG College/University</label><input type="text" name="pg_college_or_university" maxlength="200" class="form-control" placeholder="PG College/University" value="" id="id_pg_college_or_university" style="max-width: 50%;"></div>
  </div>
</div></div>
<hr>

<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_qualifying_examination">Qualifying Examination</label><select name="qualifying_examination" class="form-control" title="" id="id_qualifying_examination" style="max-width: 50%;">
      <option value="">Select</option>
      <option value="GATE">GATE</option>
      <option value="NET">NET</option></select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_branch_code_for_qualifying_exam">Branch Code for Qualifying Exam</label><select name="branch_code_for_qualifying_exam" class="form-control" title="" id="id_branch_code_for_qualifying_exam" style="max-width: 50%;">
      <option value="">Select</option>
      <option value="CSE">CSE</option>
      <option value="EE">EE</option>
      <option value="ME">ME</option>
      <option value="ECE">ECE</option>
      <option value="CE">CE</option></select>
    </div>
  </div>
</div></div>
<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_qualifying_exam_score_valid_upto">Qualifying Exam Score Valid Upto (Year)</label><input type="number" name="qualifying_exam_score_valid_upto" class="form-control" placeholder="Qualifying exam score valid upto" value="" id="id_qualifying_exam_score_valid_upto" style="max-width: 50%;"></div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_all_india_rank_in_qualifying_exam">All India Rank in Qualifying Exam</label><input type="number" name="all_india_rank_in_qualifying_exam" class="form-control" placeholder="All India rank in Qualifying Exam" value="" id="id_all_india_rank_in_qualifying_exam" style="max-width: 50%;"></div>
  </div>
</div></div>
<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_score_in_qualifying_exam">Score in Qualifying Exam</label><input type="number" name="score_in_qualifying_exam" step="any" class="form-control" placeholder="Score in qualifying exam" value="" id="id_score_in_qualifying_exam" style="max-width: 50%;"></div>
  </div>
</div></div>
<hr>

<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_work_experience_in_year">Work Experpience in Year(s)</label><input type="number" name="work_experience_in_year" maxlength="3" class="form-control" placeholder="Work Experpience(in years)" value="" id="id_work_experience_in_year" style="max-width: 50%;"></div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_type_of_work">Type of Work</label><select name="type_of_work" class="form-control" title="" id="id_type_of_work" style="max-width: 50%;">
      <option value="">Select</option>
      <option value="Teaching">Teaching</option>
      <option value="IT Industry">IT Industry</option>
      <option value="Research Organisation">Research Organisation</option>
      <option value="Other">Other</option></select>
    </div>
  </div>
</div></div>
<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_no_of_peer_reviewed_publications">No of Peer Reviewed Publication(s)</label><input type="number" name="no_of_peer_reviewed_publications" class="form-control" placeholder="No of peer reviewed publications" value="" id="id_no_of_peer_reviewed_publications" style="max-width: 50%;"></div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_no_of_patents_granted">No of Patent(s) Granted</label><input type="number" name="no_of_patents_granted" class="form-control" placeholder="No of patents granted" value="" id="id_no_of_patents_granted" style="max-width: 50%;"></div>
  </div>
</div></div>
<hr>

<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_guide_preference_1">Guide Preference 1</label><input type="text" name="guide_preference_1" maxlength="200" class="form-control" placeholder="Guide preference 1" value="" id="id_guide_preference_1" style="max-width: 50%;"></div>
  </div>
  <div class="col-md-6">
    <div class="form-group"><label for="id_guide_preference_2">Guide Preference 2</label><input type="text" name="guide_preference_2" maxlength="200" class="form-control" placeholder="Guide preference 2" value="" id="id_guide_preference_2" style="max-width: 50%;"></div>
  </div>
</div></div>
<div class="container"><div class="row">
  <div class="col-md-6">
    <div class="form-group"><label for="id_guide_preference_3">Guide Preference 3</label><input type="text" name="guide_preference_3" maxlength="200" class="form-control" placeholder="Guide preference 3" value="" id="id_guide_preference_3" style="max-width: 50%;"></div>
  </div>
</div></div>
<hr>

<div class="container"><div class="row">
  <div class="col-md-6">
    <input type="submit" name='save_as_draft' class="btn btn-primary" value="Save as Draft">
  </div>
  <div class="col-md-6">
    <input type="submit" name='submit_application' class="btn btn-primary" value="Submit">
  </div>
</div></div>
  </form>
</div>

{% endblock %}
