{% extends 'base.html' %}
{% load bootstrap4 %
{% block body %}
  {% if user.is_authenticated %}
  <div class="container">
    <h1>Welcome  {{user.first_name}} {{user.last_name}}</h1>
    <p></p>
    <a href="{% url 'phdfellows:logout' %}" class="btn btn-primary">Logout</a>
    <a href="{% url 'phdfellows:application' %}" class="btn btn-primary">Apply</a>
  </div>
  <div class="container">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">S.No.</th>
          <th scope="col">Application No</th>
          <th scope="col">Applied for</th>
          <th scope="col">Submitted at</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for application in applications %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{application.application_no}}</td>
          <td>{{application.applying_for}}</td>
          <td>{{application.submitted_at}}</td>
          <td>{% ifequal application.current_status "Draft" %}<a href="{% url 'phdfellows:update' pk=application.pk %}">{{application.current_status}}</a>
              {% else %}<a href="{% url 'phdfellows:application_detail' pk=application.pk %}">{{application.email }} {{application.current_status}}</a>
              {% endifequal %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
{% endblock %}
