{% extends 'base.html' %}
{% load bootstrap4 %
{% block body %}
  {% if user.is_authenticated %}
  <div class="container">
    <h1>Welcome  {{user.first_name}} {{user.last_name}}</h1>
    <p></p>
    <a href="{% url 'phdfellows:logout' %}" class="btn btn-primary">Logout</a>
    <a href="{% url 'phdfellows:application' %}" class="btn btn-primary">Apply</a>
  </div>
  <div class="container">
      {% for application in applications %}
        {% ifequal application.current_status "Draft" %}
          <h3><a href="{% url 'phdfellows:update' pk=application.pk %}">{{application.email }} {{application.current_status}}</a></h3>
        {% else %}
          <h3><a href="{% url 'phdfellows:application_detail' pk=application.pk %}">{{application.email }} {{application.current_status}}</a></h3>
        {% endifequal %}
      {% endfor %}
  </div>
  {% endif %}
{% endblock %}
