{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
{% block body %}
  {% if user.is_authenticated %}
  <div class="container"  style="background-color: #F2F3F4; border-radius: 5px; border-color: grey;">
  <br>
  <div class="container"><div class="row">
    <div class="col-md-11">
      <h2>Welcome  {{user.first_name}} {{user.last_name}}</h2></div>
      <div class="col-md-1">
      <a href="{% url 'faculty:faculty_logout' %}" class="btn btn-primary">Logout</a>
    </div>
  </div></div>

  <hr>

  <div class="container"><div class="row">
        <div class="col-md-3"><font style="font-size: 25px; font-family: Helvetica;">Search Candidates :</font><hr>
        </div></div></div>

  <div class="container">
    <form action="{% url 'faculty:faculty_home' %}" method = "GET">
      <div class="container"><div class="row">
        <div class="col-md-4">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" default="" class="form-control " id="name" value="{{ name }}" placeholder="Name" style="max-width: 60%;">
        </div></div>
        <div class="col-md-4">
        <div class="form-group">
         <label for="air">All India Rank</label>
         <select type="text" class="form-control" name="air" id="air" style="max-width: 50%;">
           <option value="" {% ifequal air ''  %}selected{% endifequal %}>Select</option>
           <option value="1-500" {% ifequal air '1-500'  %}selected{% endifequal %}>1-500</option>
           <option value="501-1000" {% ifequal air '501-1000'  %}selected{% endifequal %}>501-1000</option>
           <option value="1001-1500" {% ifequal air '1001-150'  %}selected{% endifequal %}>1001-1500</option>
           <option value="1500+" {% ifequal air '1500+'  %}selected{% endifequal %}>1500+</option>
         </select>
        </div></div>
      </div></div>

      <hr>

      <div class="container"><div class="row">
        <div class="col-md-4">
          <div class="form-group"><label for="id_scale_of_score_ug">Scale of Score (UG)</label><select name="scale_of_score_ug" class="form-control" title="" id="id_scale_of_score_ug" style="max-width: 60%;">
            <option value="">Select</option>
            <option value="0-5 CGPA" {% ifequal scale_of_score_ug '0-5 CGPA'  %}selected{% endifequal %}>0-5 CGPA</option>
            <option value="0-10 CGPA" {% ifequal scale_of_score_ug '0-10 CGPA'  %}selected{% endifequal %}>0-10 CGPA</option>
            <option value="0-100%" {% ifequal scale_of_score_ug '0-100%'  %}selected{% endifequal %}>0-100%</option></select>

        </div></div>
        <div class="col-md-4">
          <div class="form-group"><label for="id_score_ug">Score (UG)</label><select name="score_ug" class="form-control" title="" id="id_score_ug" style="max-width: 60%;">
          <option value="" {% ifequal score_ug ''  %}selected{% endifequal %}>Select</option>
          {% ifequal scale_of_score_ug '0-5 CGPA' %}
            <option value="0-1" {% ifequal score_ug '0-1'  %}selected{% endifequal %}>0-1</option>
            <option value="1-2" {% ifequal score_ug '1-2'  %}selected{% endifequal %}>1-2</option>
            <option value="2-3" {% ifequal score_ug '2-3'  %}selected{% endifequal %}>2-3</option>
            <option value="3-4" {% ifequal score_ug '3-4'  %}selected{% endifequal %}>3-4</option>
            <option value="4-5" {% ifequal score_ug '4-5'  %}selected{% endifequal %}>4-5</option>
          {% endifequal %}
          {% ifequal scale_of_score_ug '0-10 CGPA' %}
          <option value="0-1" {% ifequal score_ug '0-1'  %}selected{% endifequal %}>0-1</option>
          <option value="1-2" {% ifequal score_ug '1-2'  %}selected{% endifequal %}>1-2</option>
          <option value="2-3" {% ifequal score_ug '2-3'  %}selected{% endifequal %}>2-3</option>
          <option value="3-4" {% ifequal score_ug '3-4'  %}selected{% endifequal %}>3-4</option>
          <option value="4-5" {% ifequal score_ug '4-5'  %}selected{% endifequal %}>4-5</option>
          <option value="5-6" {% ifequal score_ug '5-6'  %}selected{% endifequal %}>5-6</option>
          <option value="6-7" {% ifequal score_ug '6-7'  %}selected{% endifequal %}>6-7</option>
          <option value="7-8" {% ifequal score_ug '7-8'  %}selected{% endifequal %}>7-8</option>
          <option value="8-9" {% ifequal score_ug '8-9'  %}selected{% endifequal %}>8-9</option>
          <option value="9-10" {% ifequal score_ug '9-10'  %}selected{% endifequal %}>9-10</option>
          {% endifequal %}
          {% ifequal scale_of_score_ug '0-100%' %}
          <option value="0-10" {% ifequal score_ug '0-10'  %}selected{% endifequal %}>0-10</option>
          <option value="10-20" {% ifequal score_ug '10-20'  %}selected{% endifequal %}>10-20</option>
          <option value="20-30" {% ifequal score_ug '20-30'  %}selected{% endifequal %}>20-30</option>
          <option value="30-40" {% ifequal score_ug '30-40'  %}selected{% endifequal %}>30-40</option>
          <option value="40-50" {% ifequal score_ug '40-50'  %}selected{% endifequal %}>40-50</option>
          <option value="50-60" {% ifequal score_ug '50-60'  %}selected{% endifequal %}>50-60</option>
          <option value="60-70" {% ifequal score_ug '60-70'  %}selected{% endifequal %}>60-70</option>
          <option value="70-80" {% ifequal score_ug '70-80'  %}selected{% endifequal %}>70-80</option>
          <option value="80-90" {% ifequal score_ug '80-90'  %}selected{% endifequal %}>80-90</option>
          <option value="90-100" {% ifequal score_ug '90-100'  %}selected{% endifequal %}>90-100</option>
          {% endifequal %}
        </select>
        </div></div>

        <div class="col-md-4">
        <div class="form-group"><label for="id_ug_branch">UG Branch</label><select name="ug_branch" class="form-control" title="" id="id_ug_branch" style="max-width: 60%;">
          <option value="">Select</option>
          <option value="CSE" {% ifequal ug_branch 'CSE'  %}selected{% endifequal %}>CSE</option>
          <option value="EE" {% ifequal ug_branch 'EE'  %}selected{% endifequal %}>EE</option>
          <option value="ME" {% ifequal ug_branch 'ME'  %}selected{% endifequal %}>ME</option>
          <option value="ECE" {% ifequal ug_branch 'ECE'  %}selected{% endifequal %}>ECE</option>
          <option value="CE" {% ifequal ug_branch 'CE'  %}selected{% endifequal %}>CE</option></select>
        </div></div>
      </div></div>

      <div class="container"><div class="row">
        <div class="col-md-4">
          <div class="form-group"><label for="id_scale_of_score_pg">Scale of Score (PG)</label><select name="scale_of_score_pg" class="form-control" title="" id="id_scale_of_score_pg" style="max-width: 60%;">
            <option value="">Select</option>
            <option value="0-5 CGPA" {% ifequal scale_of_score_pg '0-5 CGPA'  %}selected{% endifequal %}>0-5 CGPA</option>
            <option value="0-10 CGPA" {% ifequal scale_of_score_pg '0-10 CGPA'  %}selected{% endifequal %}>0-10 CGPA</option>
            <option value="0-100%" {% ifequal scale_of_score_pg '0-100%'  %}selected{% endifequal %}>0-100%</option></select>

        </div></div>
        <div class="col-md-4">
          <div class="form-group"><label for="id_score_pg">Score (PG)</label><select name="score_pg"  class="form-control" title="" id="id_score_pg" style="max-width: 60%;">
            <option value="" {% ifequal score_pg ''  %}selected{% endifequal %}>Select</option>
            {% ifequal scale_of_score_pg '0-5 CGPA' %}
              <option value="0-1" {% ifequal score_pg '0-1'  %}selected{% endifequal %}>0-1</option>
              <option value="1-2" {% ifequal score_pg '1-2'  %}selected{% endifequal %}>1-2</option>
              <option value="2-3" {% ifequal score_pg '2-3'  %}selected{% endifequal %}>2-3</option>
              <option value="3-4" {% ifequal score_pg '3-4'  %}selected{% endifequal %}>3-4</option>
              <option value="4-5" {% ifequal score_pg '4-5'  %}selected{% endifequal %}>4-5</option>
            {% endifequal %}
            {% ifequal scale_of_score_pg '0-10 CGPA' %}
            <option value="0-1" {% ifequal score_pg '0-1'  %}selected{% endifequal %}>0-1</option>
            <option value="1-2" {% ifequal score_pg '1-2'  %}selected{% endifequal %}>1-2</option>
            <option value="2-3" {% ifequal score_pg '2-3'  %}selected{% endifequal %}>2-3</option>
            <option value="3-4" {% ifequal score_pg '3-4'  %}selected{% endifequal %}>3-4</option>
            <option value="4-5" {% ifequal score_pg '4-5'  %}selected{% endifequal %}>4-5</option>
            <option value="5-6" {% ifequal score_pg '5-6'  %}selected{% endifequal %}>5-6</option>
            <option value="6-7" {% ifequal score_pg '6-7'  %}selected{% endifequal %}>6-7</option>
            <option value="7-8" {% ifequal score_pg '7-8'  %}selected{% endifequal %}>7-8</option>
            <option value="8-9" {% ifequal score_pg '8-9'  %}selected{% endifequal %}>8-9</option>
            <option value="9-10" {% ifequal score_pg '9-10'  %}selected{% endifequal %}>9-10</option>
            {% endifequal %}
            {% ifequal scale_of_score_pg '0-100%' %}
            <option value="0-10" {% ifequal score_pg '0-10'  %}selected{% endifequal %}>0-10</option>
            <option value="10-20" {% ifequal score_pg '10-20'  %}selected{% endifequal %}>10-20</option>
            <option value="20-30" {% ifequal score_pg '20-30'  %}selected{% endifequal %}>20-30</option>
            <option value="30-40" {% ifequal score_pg '30-40'  %}selected{% endifequal %}>30-40</option>
            <option value="40-50" {% ifequal score_pg '40-50'  %}selected{% endifequal %}>40-50</option>
            <option value="50-60" {% ifequal score_pg '50-60'  %}selected{% endifequal %}>50-60</option>
            <option value="60-70" {% ifequal score_pg '60-70'  %}selected{% endifequal %}>60-70</option>
            <option value="70-80" {% ifequal score_pg '70-80'  %}selected{% endifequal %}>70-80</option>
            <option value="80-90" {% ifequal score_pg '80-90'  %}selected{% endifequal %}>80-90</option>
            <option value="90-100" {% ifequal score_pg '90-100'  %}selected{% endifequal %}>90-100</option>
            {% endifequal %}
          </select>
        </div></div>
        <div class="col-md-4">
        <div class="form-group"><label for="id_pg_branch">PG Branch</label><select name="pg_branch" class="form-control" title="" id="id_pg_branch" style="max-width: 60%;">
          <option value="">Select</option>
          <option value="CSE" {% ifequal pg_branch 'CSE'  %}selected{% endifequal %}>CSE</option>
          <option value="EE" {% ifequal pg_branch 'EE'  %}selected{% endifequal %}>EE</option>
          <option value="ME" {% ifequal pg_branch 'ME'  %}selected{% endifequal %}>ME</option>
          <option value="ECE" {% ifequal pg_branch 'ECE'  %}selected{% endifequal %}>ECE</option>
          <option value="CE" {% ifequal pg_branch 'CE'  %}selected{% endifequal %}>CE</option></select>
        </div></div>
      </div></div>

      <hr>

      <div class="container"><div class="row">
        <div class="col-md-4">
        <div class="form-group"><label for="id_gate_or_net_branch">Gate/NET in</label><select name="gate_or_net_branch" class="form-control" title="" id="id_gate_or_net_branch" style="max-width: 60%;">
          <option value="">Select</option>
          <option value="CSE" {% ifequal gate_or_net_branch 'CSE'  %}selected{% endifequal %}>CSE</option>
          <option value="EE" {% ifequal gate_or_net_branch 'EE'  %}selected{% endifequal %}>EE</option>
          <option value="ME" {% ifequal gate_or_net_branch 'ME'  %}selected{% endifequal %}>ME</option>
          <option value="ECE" {% ifequal gate_or_net_branch 'ECE'  %}selected{% endifequal %}>ECE</option>
          <option value="CE" {% ifequal gate_or_net_branch 'CE'  %}selected{% endifequal %}>CE</option></select>
        </div></div>
        <div class="col-md-4">
        <div class="form-group"><label for="id_current_status">Status</label><select name="current_status" class="form-control" title="" id="id_current_status" style="max-width: 60%;">
          <option value="Submitted" {% ifequal current_status 'Submitted' %}selected{% endifequal %}>Submitted</option>
          <option value="Shortlisted for Test" {% ifequal current_status 'Shortlisted for Test'  %}selected{% endifequal %}>Shortlisted for Test</option>
          <option value="Shortlisted for Interview" {% ifequal current_status 'Shortlisted for Interview'  %}selected{% endifequal %}>Shortlisted for Interview</option>
          <option value="Selected" {% ifequal current_status 'Selected'  %}selected{% endifequal %}>Selected</option>
          <option value="Rejected" {% ifequal current_status 'Rejected'  %}selected{% endifequal %}>Rejected</option></select>
        </div></div>
        <div class="col-md-4">
        <div class="form-group"><label for="id_year">Year</label><select name="year" class="form-control" id="id_year" style="max-width: 60%;">
          <option value="{{ year }}" selected>{% ifequal year ''  %}Select {% else %}{{ year }}{% endifequal %}</option></select>
        </div></div>
      </div></div>

      <hr>

      <div class="container"><div class="row">
        <div class="col-md-11">
        <center><input type="submit" name='search' class="btn btn-primary " value="Search"></center>
      </div>
    </div></div>
      </form>
    </div>
    <b><br><hr style="border-width: 3px;"></b>

    <div class="container">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th style="text-align: center; vertical-align: middle;" scope="col">S.No.</th>
            <th style="text-align: center; vertical-align: middle;" scope="col">Application No</th>
            <th style="text-align: center; vertical-align: middle;" scope="col">Name</th>
            <th style="text-align: center; vertical-align: middle;" scope="col">UG</th>
            <th style="text-align: center; vertical-align: middle;" scope="col">PG</th>
            <th style="text-align: center; vertical-align: middle;" scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for result in results  %}
          <tr>
            <th style="text-align: center; vertical-align: middle;" scope="row">{{ forloop.counter }}</th>
            <td style="text-align: center; vertical-align: middle;">{{ result.application_no }}</td>
            <td style="text-align: center; vertical-align: middle;">{{result.first_name}} {{result.last_name}}</td>
            <td style="text-align: center; vertical-align: middle;">B.Tech in {{result.ug_discipline}} <br>{{result.score_in_ug}} /
              {% ifequal result.scale_of_score_ug '0-5 CGPA' %}5{% else %}{% ifequal result.scale_of_score_ug '0-10 CGPA' %}10{% else %}100{% endifequal %} {% endifequal %}</td>
            <td style="text-align: center; vertical-align: middle;">B.Tech in {{result.pg_discipline}} <br>{{result.score_in_pg}} /
              {% ifequal result.scale_of_score_pg '0-5 CGPA' %}5{% else %}{% ifequal result.scale_of_score_pg '0-10 CGPA' %}10{% else %}100{% endifequal %} {% endifequal %}</td>
            <td style="text-align: center; vertical-align: middle;">{{result.current_status}}{{result.all_india_rank_in_qualifying_exam}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
  {% endif %}

{% endblock %}
