{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load staticfiles %}
{% bootstrap_javascript jquery='full' %}

{% block extra_cdn %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
{% endblock %}

{% block title %}
Phd Admission
{% endblock %}

{% block body %}
<br>
<div class="col-lg-1 col-xl-1">
</div>
<div class="align-items-center col-lg-10 col-xl-10">
<div class="align-items-center jumbotron">
<h1 class="text-center">Welcome to Phd Admission</h1>
<br>
<div class="container">
<div class="row">
<div class="col-md-6" >
<div class="container" style="overflow-y:scroll; background-color: white; border-style: groove; border-radius: 5px; height: 300px;"><br>
  <h2 class="text-center">Announcements</h2>
  <table style="border-collapse: collapse;">
    <tbody>
      {% for announcement in announcements %}
      <tr>
        <td style="padding-top: .5em; padding-right: .3em; vertical-align: top;" scope="row"><i class="far fa-file-alt"></i></td>
        <td style="padding-top: .5em;"><a href="{{ announcement.my_file.url }}" target="_blank"><font style="color: blue;">{{ announcement.title }}</font></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
<div class="col-md-1"></div>
<div class="col-md-5">
<h2>Log In</h2><br>
<form method = "POST">
{% csrf_token %}

{% bootstrap_form form %}
<input style="margin-right: .5em;" type="submit" class="btn btn-primary" value="Login">
<a style="margin-right: .5em;" href="{% url 'accounts:signup' %}">Sign Up</a>
<a href="{% url 'accounts:password_reset' %}">Forgot Password?</a>
</form>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-1 col-xl-1">
</div>
<br>
<br>
<br>
<br>
{% endblock %}
